.input-container {
  margin-bottom: 2vh;
}

.input-container label {
  display: flex;
  margin-bottom: 8px;
}

.input-container input {
  width: 100%;
  padding: 8px;
  border-width: 1px;
  box-sizing: border-box;
  border-color: none;
  border-radius: 6px;
}
